extends layout.pug

block content

  article.portfolio-intro

    h1 My Portfolio

    p This page showcases Project 6 from Teamtreehouse's full-stack JavaScript developer program, featuring an overview of the projects completed thus far.


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects

        .cell
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`${project.image_urls.filter(url => url.includes("square"))[0]}`, alt=`Thumbnail ${project.project_name}`)
            h5= project.project_name 

